.link-animation {
  transition: transform .2s ease-in-out;
}

.link-animation:hover {
    color: #095fd6;
    box-sizing: border-box;
    transform: scale(1.1);
}

.active {
  color: #095fd6 !important;
  border-bottom: 2px solid #095fd6;
  box-sizing: border-box;
}

.active-brand {
  color: #095fd6 !important;
  box-sizing: border-box;
}